.credit-header {
    font-weight: 600;
    font-size: 42px;
    text-align: center
}

.credit-txt {
    font-size: 22px;
}

.credit-name {
    font-size: 26px;
    font-weight: 600;
}

.credit_container {
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 40px 20px !important;
    border-radius: 32px;
    vertical-align: middle;
    /*background: rgba(0, 0, 255, 0.05);*/
    --tile-background-color: unset;
}

.contact-card-box {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    border-radius: 22px !important;
    padding: 14px 28px;
    min-width: 522px;
    margin: 0 8px;
}

.no-opacity {
    opacity: 1 !important;
}

.profile_img_container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin: auto;
}

.profile-img {
    border-radius: 50%;
    width: 102px;
    object-fit: cover;
}

.profile_img_left {
    max-width: 120px !important;
}

.profile_text {
    font-family: "Sarabun", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif !important;
}

.profile_contact {
    font-size: small;
}

@media only screen and (max-width: 960px) {
    .credit_container {
        border-radius: 10px;
        margin: 5px 5px 20px 5px !important;
        padding: 25px 0 5px 0 !important;
    }

    .profile_row_card {
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
    }

    .profile_img_left {
        min-width: 15vh;
        height: 80px;
    }

    .profile_contact_container {
        width: 50%;
    }

    .profile_contact {
        font-size: large;
    }

    .profile_text {
        font-size: 16px;
        text-wrap: normal;
    }

    .profile_contact {
        font-weight: 200;
        font-size: medium;
    }

    .profile_img {
        height: 86% !important;
        width: 86% !important;
    }
}