@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import 'fonts.css';



body::before {
    content: "";
    background: url("../../asset_img/isad-background.jpg") no-repeat fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; /* Change the opacity value as needed */
    z-index: -1;
}


.rainbow-dash, .rainbow-dash-s, .rainbow-dash-l {
    margin: 0 auto;
    /*height: 100% !important;*/
}

.rainbow-dash {
    max-width: 182px;
}

.rainbow-dash-s {
    max-width: 122px;
}

.rainbow-dash-l {
    max-width: 322px;
}

.main_container {
    max-width: 1380px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-radius: 32px;
}

.img_background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: clip;
    min-height: 100vh;
}

.blur-effect {
    background: rgba(245, 245, 247, .82);
    backdrop-filter: blur(22px) saturate(1.86);
    -webkit-backdrop-filter: blur(15px) saturate(86%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --colornav-backdrop-filter-opacity: 1;
    --colornav-bg-alpha: 0.8;
    opacity: 1;
}

.blue_button {
    background-color: #0373DE !important;
    /*font-size: medium !important;*/
    font-weight: bold;
    color: white !important;
    border-radius: 12px;
    /*box-shadow: none !important;*/
    /*text-transform: none;*/
}

.bg-table {
    background: rgba(255, 255, 255, 0.35) !important;
}

.bg-table-items1 {
    background: rgba(255, 255, 255, 0.20) !important;
}


body {
    font-family: "Sarabun", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif !important;
}

.text-h2 {
    font-family: "Sarabun", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif !important;
    font-size: 95px !important;
    margin-bottom: 40px !important;
    text-wrap: none !important;
}

.text-h3 {
    font-family: "Sarabun", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif !important;

}

.text-h4 {
    font-family: "Sarabun", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif !important;
}

.text-h5 {
    font-family: "Sarabun", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif !important;
}

.txt-200 {
    font-weight: 200 !important;
}

.txt-300 {
    font-weight: 300 !important;
}

.txt-400 {
    font-weight: 400 !important;
}

.txt-500 {
    font-weight: 500 !important;
}

.txt-600 {
    font-weight: 600 !important;
}

.txt-700 {
    font-weight: 700 !important;
}

.txt-800 {
    font-weight: 800 !important;
}

.txt-900 {
    font-weight: 900 !important;
}