
.img {
    background-repeat: no-repeat;
    margin: 0 auto;
}

.main-body {
    max-width: 1280px;
    margin: 0 auto;
}

.title {
    font-size: 1.875rem !important; /* 30px */
    line-height: 2.25rem !important; /* 36px */
    margin-left: 0.625rem !important; /* 10px */
    margin-bottom: 0.625rem !important; /* 10px */
    margin-top: 0.75rem !important; /* 12px */
}

.sensor-box {
    border: black 3px;
    border-style: solid none;
    padding: 12px 22px;
    margin: 0 0 30px 0;
    /*border-radius: 12px;*/
}

.sensor-box img {
    max-height: 220px;
}

.table-forecast {
    display: block;
    max-width: 930px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.rainbow {
    background-repeat: no-repeat;
    margin: 0 auto;
}

.first-box {
    background-color: transparent;
    height: calc(100vh - 150px + 64px);
    padding-top: 20vh;
}

.location_container {
    background: rgba(255, 255, 255, .90);
    border-radius: 22px !important;

}

.index_parallax {
    min-height: calc(100vh);
}

.index_text_stroke, .index_text_shadow {
    -webkit-text-stroke: 0.1px black;
}

.index_text_shadow {
    text-shadow: #ffdf5e 1px 0 10px;
}

.sook_header {
    width: 100%;
}

.sook_north {
    background: #2242A6;
    max-height: 25px;
}

.sook_south {
    background: orange;
    height: 0.5vh;
}

.sook_text {
    font-size: 90%;
    font-family: "Helvetica Neue", serif;
    padding: 5px;
    text-align: right;
    color: white;
    height: 100%;
    margin-top: -7px;
}